.button_box {
    background-color:#f2f2f2;
    border-radius: 5px;
    padding: 10px 20px;
    color:#141414;
    cursor: pointer;
    margin: 5px 10px;
    font-family: 'Baloo Paaji 2';
    display: inline-block;
    text-align: center;
    margin:auto;
    font-size:16pt;
}

/* .button_box_inner:hover{
    background-color:#28524b;
    color: #f2f2f2;
} */

.button_box_inner::selection{
    background:none;
    color:none;
} 



