@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&family=Montserrat&display=swap');

.title{
    font-family: 'Baloo Paaji 2';
    color:#141414;
    display: inline-block;
    text-align: center;
}