@font-face {
    font-family: 'baloo';
    src: local('Baloo'), url(./fonts/FiraSans-Regular.ttf) format('truetype');
  }

.button_box {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 5px;
}

.button_box:active {
    background-color: #ffffff;
}

.button_box_inner::selection {
    background: none;
    color: none;
}