.button_box {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 5px;
    font-family:calibri;
}

.button_box:active {
    background-color: #ffffff;
}

.button_box_inner::selection {
    background: none;
    color: none;
}