.button_box {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px 20px;
    color:#141414;
    cursor: pointer;
    margin: 5px 10px;
    font-family:baloo;
    background-clip: padding-box;
}

.button_box_inner:hover{
    background-color:#28524b;
    color: #f2f2f2;
    background-clip: inherit;
}



