html {
  background-color: #01c280;
}

.outer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
}

.content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}